# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/*/.build/

# Generated
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
